h1, h2 {
    border-color: white;
    border-style: solid;
    border-bottom: 1px;
}
.contenedor {
    display: flex;
    justify-content: space-between
}
body {
    background-color: black;
    font-family: 'Franklin Gothic Medium';
    font-size:20px;
    color: white;
}
h1 {
    background-color: lawngreen;
}
p {
    text-align: justify;
    text-align: center;
}
h2 {
    text-align: center;
}